@model BookLocal.Data.Data.PlatformaInternetowa.Firma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wlasciciel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wlasciciel.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlownyAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlownyAdres.Gmina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REGON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REGON)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFirmy">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
