@model IEnumerable<BookLocal.Data.Data.PlatformaInternetowa.Opinia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tresc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uzytkownik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OcenianyPracownik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezerwacja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDodania)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uzytkownik.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OcenianyPracownik.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rezerwacja.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDodania)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOpinii">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOpinii">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOpinii">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
