@model BookLocal.Data.Data.CMS.SekcjaCms

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SekcjaCms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KluczSekcji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KluczSekcji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolejnosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolejnosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedByPracownik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedByPracownik.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSekcji" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
